 body {
  height: 100%;
  margin: 0;
  display: grid;
  place-items: center;
  background: #ffffff;
  font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}


.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1920px;              
  height: 35px;             
  text-decoration: none;     
  background-color: #F4E09A;
  cursor: pointer;           
}

.text {
  font-size: 20px;
  text-align: center;
  pointer-events: none;      
}


.link1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1920px;              
  height: 35px;             
  text-decoration: none;     
  background-color: #C4DFF2;
  cursor: pointer;           
}

.text1 {
  font-size: 20px;
  text-align: center;
  pointer-events: none;      
}

.rectangle {
  width: 1920px;              
  height: 35px;
  background-color: #F8F1E1;
  margin-top: 15px;

}

.cold {
margin-top: -40px;
margin-left: -1400px;
}
.dpd {
margin-top: -45px;
margin-left: -900px;
}
.phone {
margin-top: -45px;
margin-left: 1280px;
}
.mail {
margin-top: -45px;
margin-left: 1000px;
}

.logo {
margin-top: 15px;
margin-left: -1220px;
}

.base {
  transform: translate(235%, -45px); 
  transition: transform .2s;
  margin-left: 50%;
}


.search {
  transform: translate(656%, -75px); 
  transition: transform .2s;
  margin-left: 150%;    
}

.acc {
  transform: translate(897%, -104px); 
  transition: transform .2s;
  margin-left: 50%;    
}

.shop {
 transform: translate(1185%, -139px); 
  transition: transform .2s;
  margin-left: 50%;    
}

  .thin-center {
    border: none;            
    height: 1px;             
    background: #E9E9E9;        
    width: 1465px;              
    margin: 20px ;      
    margin-left: -85px ;
    margin-top: -170px;   
  }

 

.nav__list {
  display: flex;
  gap: 0px;           
  margin: 0;          
  padding: 0 8px;     
  list-style: none;
  align-items: center;
  overflow-x: auto;
  margin-left: -110px;
  margin-top: -70px;
}

.nav__item {
  margin: 0;          
  padding: 0;
  flex: 0 0 auto;
}

.my-link {
  display: inline-block;
  padding: 4px 8px;   
  color: #222;
  text-decoration: none;
  font-weight: 500;
  white-space: nowrap;
}

.my-link2 {
  display: inline-block;
  padding: 4px 8px;   
  color: #28A970;
  text-decoration: none;
  font-weight: 500;
  white-space: nowrap;
}

.my-link1 {
  display: inline-block;
  padding: 4px 8px;   
  color: #E76B35;
  text-decoration: none;
  font-weight: 500;
  white-space: nowrap;
}

.big {
  margin-left: -700px;
  margin-top: -20px;
  width: auto;
  height: 610px ;
}

.prom {
  position: relative; 
  transform: translateY(-614px); 
  margin-left: 970px;
  width: 550px;
  height: 290px ;
}



.dirt {
   position: relative; 
  transform: translateY(-590px); 
  margin-left: 970px;
  width: 550px;
  height: 290px ;
}










